<html>
<body align="center"background="http://www.1tong.com/uploads/wallpaper/distinct/314-2-1280x800.jpg">
<h1 align="center">图书管理系统</h1>
	<hr><br>
	<h2>添加作者信息</h2>
<form 
	action="../addauthor{{authorid}}" method="get" >

	请添加ID为{{authorid}}的作者的详细信息：<br><br>
	请输入姓名：
	<input type="text"maxlength=30 name="name"><br><br>
	请输入年龄：
	<input type="text"maxlength=3 name="age"><br><br>
	请输入国籍：
	<input type="text"maxlength=20 name="country"><br><br>

	<input type="submit" value="确定">
	</form>
</body>
</html>