<html>
<body align="center"background="http://www.1tong.com/uploads/wallpaper/distinct/314-2-1280x800.jpg">
<h1 align="center">图书管理系统</h1>
	<hr><br>
	<h2>添加图书信息</h2>
<form 
	action="../bookedit" method="get" >
	请输入书本ISBN：
	<input type="text"maxlength=10 name="isbn"><br><br>
	请输入书本题目：
	<input type="text"maxlength=10 name="title"><br><br>
	请输入作者ID：
	<input type="text"maxlength=10 name="authorid"><br><br>
	请输入出版商：
	<input type="text"maxlength=20 name="publisher"><br><br>
	请输入出版日期：
	<input type="date" name="publishdate"><br><br>
	请输入书本价格：
	<input type="text"maxlength=10 name="price"><br><br>

	<input type="submit" value="确定">
	</form>
</body>
</html>